/* @import, quando existem, devem ser o primeiro item de um arquivo CSS */
@import  url ( 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap' );

/* CSS reset = zera tudo - encosta nas margens 0 = "*" pega tudo */
*{ /*Todos os elementos */
    padding: 0;
    margin: 0;
     /* Exemplo de família de fonte SEM serifa
    font-family: Calibri, Arial, sans; */

    /* Exemplo de família de fonte COM serifa
    font-family: Georgia, 'Times New Roman', serif; */

    /* Exemplo de família de fonte MONOESPAÇADA 
    font-family: Consolas, 'Courier New', monospace; */

    /* Família de fontes da web (webfonts) */
    font-family: Raleway, Calibri, Arial, sans;
}

header {
    background-color: #550000;
    padding: 10px 20px;
}

nav ul li { /* Todas as Regras abaixo funcionarão somente para NAV que tem UL e dentro o LI*/
    display: inline-block; /* Deixar o Menu de forma horizontal*/
    margin: 10px; /* Espaçamento do Menu´s*/
}

nav {
    background-color: #ff7f2a; /*Cor do fundo*/
    color: #FFFFFF; /*Cor do texto*/
}